.fullContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.courseContainer {
    border: 2px solid red;
    margin: 10px 0px 10px 0px;
}

.weightGroupContainer {
    border: 2px dashed pink;
    margin: 10px 0px 10px 0px;
}

.courseTitle {
    background-color: aqua;
}
