* {
    user-select: none;
}

button {
    cursor: pointer;
    width: fit-content;
}

.btn {
    cursor: pointer;
    width: fit-content;
}

:root {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#importContainer {
    text-align: center;
}

#addCourseContainer {
    text-align: center;
}