.assignmentForm {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #76ABAE;
}

.assignmentNameInput {
    width: 10em;
}

.assignmentRealGradeInput {
    width: 7em;
}

.assignmentTotalGradeInput {
    width: 7em;
}