.courseBtn {
    border: 1px solid #EEEEEE;
    background-color: #5c7192;
}

.courseTitle:hover > .deleteBtn {
    display: block;
    width: 100%;
    margin-top: 2px;
}

.scrollable {
    overflow: auto;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}
