input {
    text-align: center;
}

.fullContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.courseContainer {
    padding: 10px;
    border: 2px solid red;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    justify-content: space-between;
}

.weightGroupContainer {
    border: 2px dashed pink;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addCourseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}