.courseBtn {
    border: 1px solid #EEEEEE;
    background-color: #5c7192;
}

.courseTitle:hover > .deleteBtn {
    display: block;
    width: 100%;
    margin-top: 2px;
}

.courseTitle > .dropDownBtn {
    margin-left: 5px;
    translate: 0px 2px;
    background-color: #ffffff00;
}

.courseTitle > .dropDownBtn:hover {
    border: none;
    font-weight: 900;
    background-color: #46454556;
}

.scrollable {
    overflow: auto;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}
