.weightInput {
    width: 4em;
}

.weightGroupBtn{
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #636e81;
}

.weightGroupTitle:hover .deleteBtn {
    display: block;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
}

.weightGroupTitle > .dropDownBtn {
    margin-left: 10px;
    translate: 0px 2px;
    background-color: #ffffff00;
}

.weightGroupTitle > .dropDownBtn:hover {
    border: none;
    font-weight: 900;
    background-color: #ffffff08;
}


.weightGroupBtn {
    width: max-content;
}